@model FitnessWeb.Models.Siniflar.Antrenör
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Antloginlayout.cshtml";
}



@using (Html.BeginForm("Update", "Antrenör", FormMethod.Post, new
{
    enctype = "multipart/form-data"





}))
{
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="@Url.Content(Model.Antgörsel)" data-original-title="Usuario">

            </div>
            <div class="col-md-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Antrenör Güncelle</h3>
                    </div>
                </div>
                <div class="card card-primary">

                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                @Html.HiddenFor(x => x.AntrenörId)
                                @Html.HiddenFor(x => x.Antgörsel)

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            İsim Soyisim
                                        </strong>
                                    </td>

                                    <td class="text-primary">
                                        @Html.TextBoxFor(x => x.Antrenörİsim, new { @class = "form-control" })
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Mail Adresi
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.TextBoxFor(x => x.AntMailAdresi, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Doğum Tarihi
                                        </strong>
                                    </td>
                                    <td class="text-primary">

                                        @Html.TextBoxFor(x => x.DogumTarih, new { @class = "form-control", @type = "date" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Cinsiyet
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                       @*/ @Html.DropDownListFor(x => x.tercihId, (List<SelectListItem>)ViewBag.cinsiyet)/*@
                                    </td>
                                </tr>

                             

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Telefon Numarası
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.TextBoxFor(x => x.TelefonNo, new { @class = "form-control" })
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Şifre
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.TextBoxFor(x => x.AntSifre, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Deneyim
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.TextBoxFor(x => x.Deneyim, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                            Kategori
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.DropDownListFor(x => x.kategoriId, (List<SelectListItem>)ViewBag.kategori)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                            Kategori
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input id="Antgörsel" type="file" name="Antgörsel" class="form-control" />
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                    <div class="card-footer">
                        <button id="bt3" type="submit" class="btn btn-warning">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
