
@using FitnessWeb.Models.Siniflar;
@model List<Antrenör>
@{
    ViewBag.Title = "kategori1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<br />

<table id="anttbl" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            
            <th>İsim Soyisim</th>
            <th>Mail Adresi</th>
            <th>Kategori</th>
           

            <th>Telefon Numarası</th>
         
            <th>Görsel</th>
            <th>İşlemler</th>


        </tr>
    </thead>
    @foreach (var a in Model)
    {
        <tr>
           
            <td>@a.Antrenörİsim</td>
            <td>@a.AntMailAdresi</td>
            <td>@a.kategori.KategoriAd</td>
         

            <td>@a.TelefonNo</td>
           
            <td><img alt="" style="width:80px; align-items:inherit ;" title="" class="img-circle img-thumbnail isTooltip" src="@a.Antgörsel" data-original-title="Usuario"></td>
            <td> <a href="/DanisanPanel/YeniMesaj/" class="btn btn-outline-success">Mesaj Göner</a></td>

        </tr>
    }
</table>




<script>


</script>


